* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    130deg,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
}

.container button {
  cursor: pointer;
  background-color: #0095f6;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  padding: 6px 9px;
  margin-bottom: 26px;
  font-weight: 600;
}

.container a {
  font-weight: 600;
}

.phone-box {
  background-image: url(/img/phone-photo.png);
  height: 630px;
  width: 450px;
}

.phone-img {
  margin-top: 100px;
  margin-left: 151px;
  position: absolute;
  opacity: 0;
}

#slider img.selected {
  opacity: 1;
}

.text {
  color: #0095f6;
  text-decoration: none;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  width: 348px;
}

.box-1 {
  height: 320px;
  margin: 0 0 10px;
}

.hero {
  border-radius: 100%;
  height: 84px;
  margin: 25px 0 28px 0;
}

.box-2 {
  height: 70px;
  margin: 0 0 10px;
  padding: 45px;
}

.grayed-text {
  color: #8e8e8e;
}

.logo {
  width: 175px;
}

.links {
  text-align: center;
  color: #ffff;
}

.links p {
  margin: 10px 20px 10px 20px;
}

.imglogos {
  width: 150px;
}

@media (max-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone-box {
    background-image: none;
    height: 0px;
    width: 0px;
    opacity: 0;
  }
}

@media (max-width: 375px) {
  body {
    background-repeat: no-repeat;
  }
}
